<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>picTale.in</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% include "pic/navbar.html" %}
<body>
    <div class="relative overflow-hidden bg-gray-900 pt-16 pb-32 space-y-24">

        <!-- Section 1 -->
        <div class="relative">
            <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">

                <!-- Text content -->
                <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                    <div>
                        <div>
                            <span class="flex h-12 w-22 items-center justify-center rounded-xl bg-pink-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                    class="h-8 w-8 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z">
                                    </path>
                                </svg>
                            </span>
                        </div>

                        <div class="mt-6">
                            <h2 class="text-3xl font-bold tracking-tight text-white">
                                {{ images.title }}
                            </h2>
                            <p class="mt-4 text-lg text-gray-300">
                                {{ images.description|slice:"0:200" }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Image -->
                <div class="mt-12 sm:mt-16 lg:mt-0">
                    <div
                        class="pl-6 md:pl-6 lg:relative lg:m-0 lg:h-full lg:px-0 lg:-mr-48 -mr-0 md:-mr-0">
                        <img loading="lazy" width="647" height="486"
                            class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5
                            lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                            style="color:transparent" src="{{ images.photo.url }}">
                    </div>
                </div>

            </div>
        </div>

        <!-- Section 2 -->
        <div class="relative">
            <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">

                <!-- Text content -->
                <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2">
                    <div>
                        <div>
                            <span class="flex h-12 w-12 items-center justify-center rounded-xl bg-pink-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                    class="h-8 w-8 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="mt-6">
                            <p class="mt-4 text-lg text-gray-300">
                                {{ images.description|slice:"200:400" }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Video -->
                <div class="mt-12 sm:mt-16 lg:mt-0">
                    <div
                        class="pr-6 md:pr-6 lg:relative lg:m-0 lg:h-full lg:px-0 lg:-ml-48 -ml-0 md:-ml-0">
                        <video src="{{ images.video.url }}" controls autoplay width="674" height="486"
                            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5
                            lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
                            style="color:transparent"></video>
                    </div>
                </div>

            </div>
        </div>

        <!-- Section 3 -->
        <div class="relative">
            <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">

                <!-- Text content -->
                <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                    <div>
                        <div>
                            <span class="flex h-12 w-12 items-center justify-center rounded-xl bg-pink-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                    class="h-8 w-8 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="mt-6">
                            <p class="mt-4 text-lg text-gray-300">
                                {{ images.description|slice:"400:600" }}
                            </p>
                            <h1 class="text-white"> Author Name: {{ images.author }}</h1>
                            <div class="mt-6">
                                <a
                                    class="inline-flex rounded-lg bg-pink-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-pink-600 hover:bg-pink-700 hover:ring-pink-700"
                                    href="{% url 'base' %}">
                                    Back to Home
                                </a>
                            </div>
                            {% if user.is_authenticated and images.author == user %}
                            <div class="mt-6">
                                <a
                                    class="inline-flex rounded-lg bg-red-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-pink-600 hover:bg-red-700 hover:ring-red-700"
                                    href="{% url 'delete' images.pk %}">
                                    Delete
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Image -->
                <div class="mt-12 sm:mt-16 lg:mt-0">
                    <div
                        class="pl-6 md:pl-6 lg:relative lg:m-0 lg:h-full lg:px-0 lg:-mr-48 -mr-0 md:-mr-0">
                        <img loading="lazy" width="646" height="485"
                            class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5
                            lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                            style="color:transparent" src="{{ images.image.url }}">
                    </div>
                </div>

            </div>
        </div>

    </div>
    {% include "pic/footer.html" %}
</body>

</html>
